//font-family
$family-primary:'Jura', sans-serif !important;

//size
$size-small:0.75rem;
$size-normal:1rem;
$size-medium:1.25rem;


//colors
$primary: hsla(254, 57%, 54%, 1); 
$white:  #ffffff;

//

//font-weight
$fontbold : bold;
